{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
<main class="">
	<section class="container  bg-light">
		{% for cat in allcategory %}
			<div class="row">
				<h3>{{ cat.name }}</h3>
                
				<a href="">View</a>
				<a href="">Edit</a>
				<a href="">Delete</a>
			</div>
		{% endfor %}

	</section>
</main>
{% endblock %}
