{% extends "base.html.twig" %}

{% block body %}
	<div class="container">

		<div class="row justify-content-center flex-wrap ">
			<div class="col-6">
			<h3 class="my-3">Créer une nouvelle Todo List</h3>
				{{ form(newTodoForm) }}

			</div>
		</div>

	{% endblock %}
