{% extends "base.html.twig" %}

{% block body %}

	<div class="container">

		{% for label, messages in app.flashes %}
			{% for message in messages %}
				<div class="alert alert-{{ label }} my-3">
					{{ message }}
				</div>
			{% endfor %}

		{% endfor %}
		<div class="row justify-content-center">
			<div class="col-6">
			<h3 class="my-5">Modifier la To Do liste</h3>
			
            	{{ form(formTodo) }}

			</div>
		</div>
    </div>
{% endblock %}
	
