{% extends "base.html.twig" %}

{% block body %}

	<div class="container">

		<div class="row justify-content-center flex-wrap ">
			<h3 class="my-3">Modifier la To Do liste</h3>
			<div class="col-6">
				{{ form(formTodo) }}

				</div>
			</div>

		{% endblock %}
